<section *ngIf="step1" class="bg-light w-50 m-auto p-4 my-3">
  <form [formGroup]="forgetform" (ngSubmit)="forgetPssword()">
    <label for="email">email</label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      placeholder="email.."
    />
    <button class="main-btn">Verify</button>
  </form>
  <div *ngIf="messaUser">
    <p class="alert alert-danger my-1">{{ messaUser }}</p>
  </div>
  <div
    class="alert alert-danger"
    *ngIf="
      (forgetform.get('email')?.touched ||
        forgetform.get('email')?.value.length > 0) &&
      forgetform.get('email')?.errors
    "
  >
    <p *ngIf="forgetform.get('email')?.getError('required')">
      email is required
    </p>
    <p *ngIf="forgetform.get('email')?.getError('email')">email is invalid</p>
  </div>
</section>

<section *ngIf="step2" class="bg-light w-50 m-auto p-4 my-3">
  <form [formGroup]="codeform" (ngSubmit)="resetCode()">
    <label for="code">code</label>
    <input
      formControlName="resetCode"
      type="text"
      class="form-control"
      placeholder="code.."
    />
    <button class="main-btn">Verify</button>
  </form>
  <div *ngIf="messaUser">
    <p class="alert alert-danger my-1">{{ messaUser }}</p>
  </div>
</section>

<section *ngIf="step3" class="bg-light w-50 m-auto p-4 my-3">
  <form [formGroup]="newpassword" (ngSubmit)="restpassword()">
    <label for="restpassword">Reste Password</label>
    <input formControlName="newPassword" type="text" class="form-control" />
    <button class="main-btn">Verify</button>
  </form>
  <div *ngIf="messaUser">
    <p class="alert alert-danger my-1">{{ messaUser }}</p>
  </div>
  <div
    class="alert alert-danger"
    *ngIf="
      (newpassword.get('password')?.touched ||
        newpassword.get('password')?.value.length > 0) &&
      newpassword.get('password')?.errors
    "
  >
    <p *ngIf="newpassword.get('password')?.getError('required')">
      password is required
    </p>
    <p *ngIf="newpassword.get('password')?.getError('pattern')">
      password must be at 6 chars
    </p>
  </div>
</section>
